USE [master]
GO
/****** Object:  Database [LIBGRP1]    Script Date: 10/02/2020 11:19:37 ******/
CREATE DATABASE [LIBGRP1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIBGRP1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIBGRP1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIBGRP1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\LIBGRP1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIBGRP1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIBGRP1]
GO
/****** Object:  Table [dbo].[ADRESSE]    Script Date: 10/02/2020 11:19:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADRESSE](
	[ADRID] [int] IDENTITY(1,1) NOT NULL,
	[ADRRUE] [varchar](100) NOT NULL,
	[ADRCOMPL] [varchar](30) NULL,
	[ADRVILLE] [varchar](100) NOT NULL,
	[ADRCP] [varchar](15) NOT NULL,
	[ADRPAYS] [varchar](100) NOT NULL,
	[ADRNOM] [varchar](100) NOT NULL,
	[ADRPRENOM] [varchar](100) NOT NULL,
	[ADRTEL] [varchar](30) NULL,
 CONSTRAINT [PK_ADRESSE] PRIMARY KEY CLUSTERED 
(
	[ADRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT](
	[CLIENTCODE] [int] IDENTITY(1,1) NOT NULL,
	[ADRIDLIVR] [int] NOT NULL,
	[ADRIDFACT] [int] NOT NULL,
	[CLIENTNOM] [varchar](100) NOT NULL,
	[CLIENTPRENOM] [varchar](100) NOT NULL,
	[CLIENTLOGIN] [varchar](50) NOT NULL,
	[CLIENTMDP] [varchar](15) NOT NULL,
	[CLIENTMAIL] [varchar](100) NOT NULL,
	[CLIENTSTATUT] [smallint] NOT NULL,
 CONSTRAINT [PK_CLIENT] PRIMARY KEY CLUSTERED 
(
	[CLIENTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[COMMNUM] [int] IDENTITY(1,1) NOT NULL,
	[CLIENTCODE] [int] NOT NULL,
	[ADRIDLIVR] [int] NOT NULL,
	[ADRIDFACT] [int] NOT NULL,
	[COMMDATE] [datetime] NOT NULL,
	[COMMIP] [varchar](15) NOT NULL,
	[PAIEMENTDATE] [datetime] NULL,
	[TYPPAIECODE] [int] NOT NULL,
	[NUMTRANSAC] [int] NULL,
	[COMMFACTNUM] [int] NULL,
	[COLISNUM] [int] NULL,
	[TRANSPID] [int] NULL,
	[RECUPDATE] [datetime] NULL,
	[ETAPEDATE] [datetime] NULL,
	[ETAPEDEP] [varchar](100) NULL,
	[ETAPEARR] [varchar](100) NULL,
	[COLISSTATUT] [varchar](100) NULL,
 CONSTRAINT [PK_COMMANDE] PRIMARY KEY CLUSTERED 
(
	[COMMNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIGNE_COMMANDE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIGNE_COMMANDE](
	[LIGNECOMMNUM] [int] IDENTITY(1,1) NOT NULL,
	[LIVREISBN] [varchar](13) NOT NULL,
	[COMMNUM] [int] NOT NULL,
	[LIGNECOMMPHT] [decimal](7, 2) NOT NULL,
	[LIGNECOMMQTE] [smallint] NOT NULL,
 CONSTRAINT [PK_LIGNE_COMMANDE] PRIMARY KEY CLUSTERED 
(
	[LIGNECOMMNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIVRE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIVRE](
	[LIVREISBN] [varchar](13) NOT NULL,
	[TVACODE] [int] NOT NULL,
	[EVENCODE] [int] NULL,
	[EMPLOYEID] [int] NOT NULL,
	[REPDATE] [datetime] NOT NULL,
	[LIVRETITRE] [varchar](100) NOT NULL,
	[LIVRESSTITRE] [varchar](150) NULL,
	[LIVREPRIXHT] [decimal](6, 2) NOT NULL,
	[LIVRERESUME] [varchar](500) NOT NULL,
	[LIVRECOUV] [varchar](250) NOT NULL,
	[LIVRESTATUT] [varchar](30) NOT NULL,
	[CATCODE] [int] NOT NULL,
	[EDITCODE] [int] NOT NULL,
 CONSTRAINT [PK_LIVRE] PRIMARY KEY CLUSTERED 
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TVA]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TVA](
	[TVACODE] [int] IDENTITY(1,1) NOT NULL,
	[TVATAUX] [decimal](4, 2) NOT NULL,
 CONSTRAINT [PK_TVA] PRIMARY KEY CLUSTERED 
(
	[TVACODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BONDECOMM]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BONDECOMM] AS
SELECT COM.COMMNUM, COMMDATE, PAIEMENTDATE, CLIENTNOM, CLIENTPRENOM, CLIENTMAIL, ADRNOM LIVRADRNOM, ADRPRENOM LIVRADRPRENOM, ADRRUE LIVRADRRUE, ADRCP LIVRADRCP, ADRVILLE LIVRADRVILLE, ADRPAYS LIVRADRPAYS, LCOM.LIVREISBN, LIVRETITRE, LIGNECOMMPHT, LIGNECOMMQTE, LIGNECOMMPHT * LIGNECOMMQTE AS TOT_LIGNE_HT, ROUND((LIGNECOMMPHT * LIGNECOMMQTE) * (1+(TVATAUX/100)), 2) AS TOT_LIGNE_TTC
FROM CLIENT CLT
	JOIN COMMANDE COM
	ON COM.CLIENTCODE = CLT.CLIENTCODE
	JOIN ADRESSE ADR
	ON ADR.ADRID = COM.ADRIDLIVR
	JOIN  LIGNE_COMMANDE LCOM
	ON COM.COMMNUM = LCOM.COMMNUM
	JOIN LIVRE 
	ON LCOM.LIVREISBN = LIVRE.LIVREISBN
	JOIN TVA
	ON TVA.TVACODE = LIVRE.TVACODE;
GO
/****** Object:  View [dbo].[FACTURE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[FACTURE] AS 
SELECT COM.COMMNUM, COMMDATE, PAIEMENTDATE, CLIENTNOM, CLIENTPRENOM, CLIENTMAIL, ADRNOM FACTADRNOM, ADRPRENOM FACTADRPRENOM, ADRRUE FACTADRRUE, ADRCP FACTADRCP, ADRVILLE FACTADRVILLE, ADRPAYS FACTADRPAYS, LCOM.LIVREISBN, LIVRETITRE, LIGNECOMMPHT, LIGNECOMMQTE, LIGNECOMMPHT * LIGNECOMMQTE AS TOT_LIGNE_HT, ROUND((LIGNECOMMPHT * LIGNECOMMQTE) * (1+(TVATAUX/100)), 2) AS TOT_LIGNE_TTC
FROM CLIENT CLT
	JOIN COMMANDE COM
	ON COM.CLIENTCODE = CLT.CLIENTCODE
	JOIN ADRESSE ADR
	ON ADR.ADRID = COM.ADRIDFACT
	JOIN  LIGNE_COMMANDE LCOM
	ON COM.COMMNUM = LCOM.COMMNUM
	JOIN LIVRE 
	ON LCOM.LIVREISBN = LIVRE.LIVREISBN
	JOIN TVA
	ON TVA.TVACODE = LIVRE.TVACODE;
GO
/****** Object:  Table [dbo].[BANQUE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANQUE](
	[BANQUEID] [int] IDENTITY(1,1) NOT NULL,
	[PRESTAID] [int] NOT NULL,
	[BANQUENOM] [varchar](100) NOT NULL,
	[NUMIBAN] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BANQUE] PRIMARY KEY CLUSTERED 
(
	[BANQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTA_DEDIE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTA_DEDIE](
	[PRESTAID] [int] IDENTITY(1,1) NOT NULL,
	[PRESTADESIGN] [varchar](80) NOT NULL,
	[PAIEVERIF] [smallint] NULL,
	[CONFIRMDATE] [datetime] NULL,
 CONSTRAINT [PK_PRESTA_DEDIE] PRIMARY KEY CLUSTERED 
(
	[PRESTAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TYPE_PAIEMENT]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPE_PAIEMENT](
	[TYPEPID] [int] IDENTITY(1,1) NOT NULL,
	[TYPEPLIBELLE] [varchar](50) NOT NULL,
	[PRESTACODE] [int] NOT NULL,
 CONSTRAINT [PK_TYPE_PAIEMENT] PRIMARY KEY CLUSTERED 
(
	[TYPEPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VERIFPAIEMENT]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VERIFPAIEMENT] AS
SELECT CLIENTNOM, CLIENTPRENOM, COMMIP, TYPEPLIBELLE, NUMTRANSAC, PRESTADESIGN, PAIEVERIF, BANQUENOM
FROM BANQUE
	JOIN PRESTA_DEDIE PRESTA
	ON BANQUE.PRESTAID = PRESTA.PRESTAID
	JOIN TYPE_PAIEMENT TPAIE
	ON TPAIE.PRESTACODE = PRESTA.PRESTAID
	JOIN COMMANDE COMM
	ON COMM.TYPPAIECODE = TPAIE.TYPEPID
	JOIN CLIENT CLT
	ON CLT.CLIENTCODE = COMM.CLIENTCODE
	WHERE PAIEVERIF = 1;
GO
/****** Object:  Table [dbo].[AUTEUR]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTEUR](
	[AUTEURCODE] [int] IDENTITY(1,1) NOT NULL,
	[AUTEURNOM] [varchar](100) NOT NULL,
	[AUTEURPRENOM] [varchar](100) NOT NULL,
 CONSTRAINT [PK_AUTEUR] PRIMARY KEY CLUSTERED 
(
	[AUTEURCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ECRIRE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECRIRE](
	[ECRITCODE] [int] IDENTITY(1,1) NOT NULL,
	[AUTEURCODE] [int] NOT NULL,
	[LIVREISBN] [varchar](13) NOT NULL,
 CONSTRAINT [PK_ECRIRE] PRIMARY KEY CLUSTERED 
(
	[AUTEURCODE] ASC,
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FRACTIONNER]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FRACTIONNER](
	[FRACTCODE] [int] IDENTITY(1,1) NOT NULL,
	[THEMECODE] [int] NOT NULL,
	[SSTHEMECODE] [int] NOT NULL,
 CONSTRAINT [PK_FRACTIONNER] PRIMARY KEY CLUSTERED 
(
	[THEMECODE] ASC,
	[SSTHEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THEME]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THEME](
	[THEMECODE] [int] IDENTITY(1,1) NOT NULL,
	[THEMELIBELLE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_THEME] PRIMARY KEY CLUSTERED 
(
	[THEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOUS_THEME]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOUS_THEME](
	[SSTHEMECODE] [int] IDENTITY(1,1) NOT NULL,
	[SSTHEMELIBELLE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SSS_THEME] PRIMARY KEY CLUSTERED 
(
	[SSTHEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIER]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIER](
	[LIERCODE] [int] IDENTITY(1,1) NOT NULL,
	[LIVREISBN] [varchar](13) NOT NULL,
	[SSTHEMECODE] [int] NOT NULL,
 CONSTRAINT [PK_LIER] PRIMARY KEY CLUSTERED 
(
	[LIVREISBN] ASC,
	[SSTHEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TRIPARTHEME]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[TRIPARTHEME] AS
SELECT AUTEURNOM, AUTEURPRENOM, LIVRETITRE, THEMELIBELLE, SSTHEMELIBELLE
FROM AUTEUR AUT 
	LEFT JOIN ECRIRE E
	ON AUT.AUTEURCODE = E.AUTEURCODE
	LEFT JOIN LIVRE L 
	ON E.LIVREISBN = L.LIVREISBN
	LEFT JOIN LIER
	ON LIER.LIVREISBN = L.LIVREISBN
	LEFT JOIN SOUS_THEME SST
	ON LIER.SSTHEMECODE = SST.SSTHEMECODE
	LEFT JOIN FRACTIONNER FRACT
	ON FRACT.SSTHEMECODE = SST.SSTHEMECODE
	LEFT JOIN THEME T
	ON T.THEMECODE = FRACT.THEMECODE; 
GO
/****** Object:  Table [dbo].[ACTION]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACTION](
	[ACTIONID] [int] IDENTITY(1,1) NOT NULL,
	[ACTIONNOM] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ACTION] PRIMARY KEY CLUSTERED 
(
	[ACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AFFECTER]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AFFECTER](
	[ACTLIVCODE] [int] IDENTITY(1,1) NOT NULL,
	[ACTIONID] [int] NOT NULL,
	[LIVREISBN] [varchar](13) NOT NULL,
 CONSTRAINT [PK_ACTLIV] PRIMARY KEY CLUSTERED 
(
	[ACTLIVCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARACTERISER]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARACTERISER](
	[CARACTCODE] [int] IDENTITY(1,1) NOT NULL,
	[MOTCLEID] [int] NOT NULL,
	[LIVREISBN] [varchar](13) NOT NULL,
 CONSTRAINT [PK_CARACTERISER] PRIMARY KEY CLUSTERED 
(
	[MOTCLEID] ASC,
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIE](
	[CATCODE] [int] IDENTITY(1,1) NOT NULL,
	[CATLIBELLE] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CATCODE] PRIMARY KEY CLUSTERED 
(
	[CATCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITEUR]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITEUR](
	[EDITEURCODE] [int] IDENTITY(1,1) NOT NULL,
	[EDITEURNOM] [varchar](100) NOT NULL,
 CONSTRAINT [PK_EDITEUR] PRIMARY KEY CLUSTERED 
(
	[EDITEURCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYE]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYE](
	[EMPLOYEID] [int] IDENTITY(1,1) NOT NULL,
	[ROLEID] [int] NOT NULL,
	[EMPLOYENOM] [varchar](100) NOT NULL,
	[EMPLOYEPRENOM] [varchar](100) NOT NULL,
	[EMPLOYEGRADE] [smallint] NOT NULL,
	[EMPLOYELOGIN] [varchar](50) NOT NULL,
	[EMPLOYEMDP] [varchar](15) NOT NULL,
	[EMPLOYEEMAIL] [varchar](100) NOT NULL,
	[PRISEPOSTE] [datetime] NOT NULL,
	[DEPARTPOSTE] [datetime] NULL,
 CONSTRAINT [PK_EMPLOYE] PRIMARY KEY CLUSTERED 
(
	[EMPLOYEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVALUATION]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVALUATION](
	[EVALID] [int] IDENTITY(1,1) NOT NULL,
	[LIVREISBN] [varchar](13) NOT NULL,
	[EMPLOYEID] [int] NULL,
	[CLIENTCODE] [int] NOT NULL,
	[EVALCOMM] [varchar](2000) NULL,
	[EVALNOTE] [smallint] NOT NULL,
	[COMMENTIP] [varchar](15) NULL,
	[EVALDATE] [datetime] NULL,
	[MODERDATE] [datetime] NULL,
 CONSTRAINT [PK_EVALUATION] PRIMARY KEY CLUSTERED 
(
	[EVALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENEMENT]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENEMENT](
	[EVENCODE] [int] IDENTITY(1,1) NOT NULL,
	[EVENNOM] [varchar](100) NOT NULL,
	[EVENDEBUT] [datetime] NOT NULL,
	[EVENFIN] [datetime] NOT NULL,
	[EVENIMAGE] [varchar](300) NOT NULL,
	[REMISETAUX] [decimal](4, 2) NULL,
 CONSTRAINT [PK_EVENEMENT] PRIMARY KEY CLUSTERED 
(
	[EVENCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPACTER]    Script Date: 10/02/2020 11:19:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPACTER](
	[ACTEVALCODE] [int] IDENTITY(1,1) NOT NULL,
	[ACTIONID] [int] NOT NULL,
	[EVALID] [int] NOT NULL,
 CONSTRAINT [PK_ACTEVAL] PRIMARY KEY CLUSTERED 
(
	[ACTEVALCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOT_CLE]    Script Date: 10/02/2020 11:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOT_CLE](
	[MOTCLEID] [int] IDENTITY(1,1) NOT NULL,
	[MOTCLEDESIGN] [varchar](100) NOT NULL,
 CONSTRAINT [PK_MOT_CLE] PRIMARY KEY CLUSTERED 
(
	[MOTCLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARAMETRE]    Script Date: 10/02/2020 11:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARAMETRE](
	[PARAMNOM] [varchar](100) NOT NULL,
	[PARAMVALEUR] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PARAMETRE] PRIMARY KEY CLUSTERED 
(
	[PARAMNOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLE]    Script Date: 10/02/2020 11:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE](
	[ROLEID] [int] IDENTITY(1,1) NOT NULL,
	[ROLENOM] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ROLE] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBDIVISER]    Script Date: 10/02/2020 11:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBDIVISER](
	[CODESUBDIV] [int] IDENTITY(1,1) NOT NULL,
	[LIVREISBN] [varchar](13) NOT NULL,
	[THEMECODE] [int] NOT NULL,
 CONSTRAINT [PK_SUBDIVISER] PRIMARY KEY CLUSTERED 
(
	[LIVREISBN] ASC,
	[THEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORTEUR]    Script Date: 10/02/2020 11:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORTEUR](
	[TRANSPID] [int] IDENTITY(1,1) NOT NULL,
	[TRANSPNOM] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TRANSPORTEUR] PRIMARY KEY CLUSTERED 
(
	[TRANSPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VISER]    Script Date: 10/02/2020 11:19:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISER](
	[LIGNECOMMNUM] [int] NOT NULL,
	[EVALLIGNEDATE] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACTION] ON 

INSERT [dbo].[ACTION] ([ACTIONID], [ACTIONNOM]) VALUES (1, N'Ajouter')
INSERT [dbo].[ACTION] ([ACTIONID], [ACTIONNOM]) VALUES (2, N'Supprimer')
INSERT [dbo].[ACTION] ([ACTIONID], [ACTIONNOM]) VALUES (3, N'Modifier')
SET IDENTITY_INSERT [dbo].[ACTION] OFF
SET IDENTITY_INSERT [dbo].[ADRESSE] ON 

INSERT [dbo].[ADRESSE] ([ADRID], [ADRRUE], [ADRCOMPL], [ADRVILLE], [ADRCP], [ADRPAYS], [ADRNOM], [ADRPRENOM], [ADRTEL]) VALUES (1, N'33 Quai de Valmy', NULL, N'Paris', N'75010', N'FRANCE', N'Martre', N'Paul', N'0140030229')
INSERT [dbo].[ADRESSE] ([ADRID], [ADRRUE], [ADRCOMPL], [ADRVILLE], [ADRCP], [ADRPAYS], [ADRNOM], [ADRPRENOM], [ADRTEL]) VALUES (2, N'30 rue Amiens', NULL, N'Lille', N'59800', N'FRANCE', N'Vison', N'Lucie', N'0320515561')
INSERT [dbo].[ADRESSE] ([ADRID], [ADRRUE], [ADRCOMPL], [ADRVILLE], [ADRCP], [ADRPAYS], [ADRNOM], [ADRPRENOM], [ADRTEL]) VALUES (3, N'115 quai Maurice Metayer', NULL, N'Niort', N'79000', N'FRANCE', N'Belette', N'Andre', N'0549090559')
SET IDENTITY_INSERT [dbo].[ADRESSE] OFF
SET IDENTITY_INSERT [dbo].[AUTEUR] ON 

INSERT [dbo].[AUTEUR] ([AUTEURCODE], [AUTEURNOM], [AUTEURPRENOM]) VALUES (1, N'Rowling', N'Joanne Kathleen')
INSERT [dbo].[AUTEUR] ([AUTEURCODE], [AUTEURNOM], [AUTEURPRENOM]) VALUES (2, N'Armentrout', N'Jennifer L.')
INSERT [dbo].[AUTEUR] ([AUTEURCODE], [AUTEURNOM], [AUTEURPRENOM]) VALUES (3, N'Christie', N'Agatha')
SET IDENTITY_INSERT [dbo].[AUTEUR] OFF
SET IDENTITY_INSERT [dbo].[BANQUE] ON 

INSERT [dbo].[BANQUE] ([BANQUEID], [PRESTAID], [BANQUENOM], [NUMIBAN]) VALUES (1, 4, N'LCL', N'FR7630001007941234567890185')
INSERT [dbo].[BANQUE] ([BANQUEID], [PRESTAID], [BANQUENOM], [NUMIBAN]) VALUES (2, 2, N'CREDIT AGRICOLE', N'FR7630006000011234567890189')
INSERT [dbo].[BANQUE] ([BANQUEID], [PRESTAID], [BANQUENOM], [NUMIBAN]) VALUES (3, 1, N'BNP Paribas', N'FR7630004000031234567890143')
SET IDENTITY_INSERT [dbo].[BANQUE] OFF
SET IDENTITY_INSERT [dbo].[CARACTERISER] ON 

INSERT [dbo].[CARACTERISER] ([CARACTCODE], [MOTCLEID], [LIVREISBN]) VALUES (12, 1, N'2226446400')
INSERT [dbo].[CARACTERISER] ([CARACTCODE], [MOTCLEID], [LIVREISBN]) VALUES (14, 1, N'2290070459')
INSERT [dbo].[CARACTERISER] ([CARACTCODE], [MOTCLEID], [LIVREISBN]) VALUES (17, 1, N'F044840810')
SET IDENTITY_INSERT [dbo].[CARACTERISER] OFF
SET IDENTITY_INSERT [dbo].[CATEGORIE] ON 

INSERT [dbo].[CATEGORIE] ([CATCODE], [CATLIBELLE]) VALUES (1, N'Roman')
INSERT [dbo].[CATEGORIE] ([CATCODE], [CATLIBELLE]) VALUES (2, N'Bande dessinée')
INSERT [dbo].[CATEGORIE] ([CATCODE], [CATLIBELLE]) VALUES (3, N'Manga')
SET IDENTITY_INSERT [dbo].[CATEGORIE] OFF
SET IDENTITY_INSERT [dbo].[CLIENT] ON 

INSERT [dbo].[CLIENT] ([CLIENTCODE], [ADRIDLIVR], [ADRIDFACT], [CLIENTNOM], [CLIENTPRENOM], [CLIENTLOGIN], [CLIENTMDP], [CLIENTMAIL], [CLIENTSTATUT]) VALUES (1, 3, 1, N'Belette', N'Andre', N'aBelette', N'aBel2019', N'abel@gmail.com', 1)
INSERT [dbo].[CLIENT] ([CLIENTCODE], [ADRIDLIVR], [ADRIDFACT], [CLIENTNOM], [CLIENTPRENOM], [CLIENTLOGIN], [CLIENTMDP], [CLIENTMAIL], [CLIENTSTATUT]) VALUES (2, 1, 2, N'Martre', N'Paul', N'pMartre', N'pMa2019', N'pma@gmail.com', 1)
INSERT [dbo].[CLIENT] ([CLIENTCODE], [ADRIDLIVR], [ADRIDFACT], [CLIENTNOM], [CLIENTPRENOM], [CLIENTLOGIN], [CLIENTMDP], [CLIENTMAIL], [CLIENTSTATUT]) VALUES (3, 2, 2, N'Zybeline', N'Elodie', N'eZybeline', N'eZyb2017', N'ezybeline@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[CLIENT] OFF
SET IDENTITY_INSERT [dbo].[COMMANDE] ON 

INSERT [dbo].[COMMANDE] ([COMMNUM], [CLIENTCODE], [ADRIDLIVR], [ADRIDFACT], [COMMDATE], [COMMIP], [PAIEMENTDATE], [TYPPAIECODE], [NUMTRANSAC], [COMMFACTNUM], [COLISNUM], [TRANSPID], [RECUPDATE], [ETAPEDATE], [ETAPEDEP], [ETAPEARR], [COLISSTATUT]) VALUES (1, 1, 3, 1, CAST(N'2019-03-12T00:00:00.000' AS DateTime), N'10.75.240.83', CAST(N'2019-03-12T00:00:00.000' AS DateTime), 1, 1, 1, 1, 1, CAST(N'2019-05-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[COMMANDE] ([COMMNUM], [CLIENTCODE], [ADRIDLIVR], [ADRIDFACT], [COMMDATE], [COMMIP], [PAIEMENTDATE], [TYPPAIECODE], [NUMTRANSAC], [COMMFACTNUM], [COLISNUM], [TRANSPID], [RECUPDATE], [ETAPEDATE], [ETAPEDEP], [ETAPEARR], [COLISSTATUT]) VALUES (2, 2, 1, 2, CAST(N'2019-07-12T00:00:00.000' AS DateTime), N'10.75.240.82', CAST(N'2019-07-12T00:00:00.000' AS DateTime), 1, 2, 2, 2, 2, CAST(N'2019-09-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
INSERT [dbo].[COMMANDE] ([COMMNUM], [CLIENTCODE], [ADRIDLIVR], [ADRIDFACT], [COMMDATE], [COMMIP], [PAIEMENTDATE], [TYPPAIECODE], [NUMTRANSAC], [COMMFACTNUM], [COLISNUM], [TRANSPID], [RECUPDATE], [ETAPEDATE], [ETAPEDEP], [ETAPEARR], [COLISSTATUT]) VALUES (3, 3, 2, 2, CAST(N'2019-09-12T00:00:00.000' AS DateTime), N'10.75.240.81', CAST(N'2019-09-12T00:00:00.000' AS DateTime), 1, 3, 3, 3, 3, CAST(N'2019-11-12T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[COMMANDE] OFF
SET IDENTITY_INSERT [dbo].[ECRIRE] ON 

INSERT [dbo].[ECRIRE] ([ECRITCODE], [AUTEURCODE], [LIVREISBN]) VALUES (1, 1, N'2070584623')
INSERT [dbo].[ECRIRE] ([ECRITCODE], [AUTEURCODE], [LIVREISBN]) VALUES (3, 3, N'2010009274')
INSERT [dbo].[ECRIRE] ([ECRITCODE], [AUTEURCODE], [LIVREISBN]) VALUES (2, 4, N'2290070459')
SET IDENTITY_INSERT [dbo].[ECRIRE] OFF
SET IDENTITY_INSERT [dbo].[EDITEUR] ON 

INSERT [dbo].[EDITEUR] ([EDITEURCODE], [EDITEURNOM]) VALUES (1, N'Pika Édition')
INSERT [dbo].[EDITEUR] ([EDITEURCODE], [EDITEURNOM]) VALUES (2, N'Gallimard jeunesse')
INSERT [dbo].[EDITEUR] ([EDITEURCODE], [EDITEURNOM]) VALUES (3, N'J''ai Lu')
SET IDENTITY_INSERT [dbo].[EDITEUR] OFF
SET IDENTITY_INSERT [dbo].[EMPLOYE] ON 

INSERT [dbo].[EMPLOYE] ([EMPLOYEID], [ROLEID], [EMPLOYENOM], [EMPLOYEPRENOM], [EMPLOYEGRADE], [EMPLOYELOGIN], [EMPLOYEMDP], [EMPLOYEEMAIL], [PRISEPOSTE], [DEPARTPOSTE]) VALUES (1, 3, N'Dupont', N'Daniel', 3, N'ddupont', N'libDir2019', N'ddupont@libraire.fr', CAST(N'2014-02-11T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[EMPLOYE] ([EMPLOYEID], [ROLEID], [EMPLOYENOM], [EMPLOYEPRENOM], [EMPLOYEGRADE], [EMPLOYELOGIN], [EMPLOYEMDP], [EMPLOYEEMAIL], [PRISEPOSTE], [DEPARTPOSTE]) VALUES (2, 4, N'Dubois', N'Paul', 2, N'pdupont', N'resven19', N'pdubois@libraire.fr', CAST(N'2015-03-11T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[EMPLOYE] ([EMPLOYEID], [ROLEID], [EMPLOYENOM], [EMPLOYEPRENOM], [EMPLOYEGRADE], [EMPLOYELOGIN], [EMPLOYEMDP], [EMPLOYEEMAIL], [PRISEPOSTE], [DEPARTPOSTE]) VALUES (3, 5, N'Dumoulin', N'Roger', 1, N'rdumoulin', N'prepco19', N'rdumoulin-ext@libraire.fr', CAST(N'2011-06-01T00:00:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[EMPLOYE] OFF
SET IDENTITY_INSERT [dbo].[EVALUATION] ON 

INSERT [dbo].[EVALUATION] ([EVALID], [LIVREISBN], [EMPLOYEID], [CLIENTCODE], [EVALCOMM], [EVALNOTE], [COMMENTIP], [EVALDATE], [MODERDATE]) VALUES (1, N'2070584623', NULL, 1, N'C''est ici que commence l''aventure de notre célèbre Harry.Un très bon bouquin. Plusieurs niveaux de lecture. Il plaira autant aux plus jeunes qu''aux adultes et autant à ceux qui ont vu le film ou pas.', 5, N'255.255.255.0', NULL, NULL)
INSERT [dbo].[EVALUATION] ([EVALID], [LIVREISBN], [EMPLOYEID], [CLIENTCODE], [EVALCOMM], [EVALNOTE], [COMMENTIP], [EVALDATE], [MODERDATE]) VALUES (2, N'2290070459', NULL, 1, N'Très bel ouvrage', 4, N'134.214.80.12', NULL, NULL)
INSERT [dbo].[EVALUATION] ([EVALID], [LIVREISBN], [EMPLOYEID], [CLIENTCODE], [EVALCOMM], [EVALNOTE], [COMMENTIP], [EVALDATE], [MODERDATE]) VALUES (3, N'F044840810', NULL, 3, N'Oups...vraiment rien dans cet album d intéressant. ..clin d oeil à Aznavour peut-être. .passez votre chemin..vivement le suivant. .celui ci est à oublier', 2, N'192.168.1.4', NULL, NULL)
SET IDENTITY_INSERT [dbo].[EVALUATION] OFF
SET IDENTITY_INSERT [dbo].[EVENEMENT] ON 

INSERT [dbo].[EVENEMENT] ([EVENCODE], [EVENNOM], [EVENDEBUT], [EVENFIN], [EVENIMAGE], [REMISETAUX]) VALUES (1, N'Salon du Livre de Paris', CAST(N'2020-03-20T00:00:00.000' AS DateTime), CAST(N'2020-03-23T00:00:00.000' AS DateTime), N'c:\\Images\even1.jpg', NULL)
INSERT [dbo].[EVENEMENT] ([EVENCODE], [EVENNOM], [EVENDEBUT], [EVENFIN], [EVENIMAGE], [REMISETAUX]) VALUES (2, N'Noel des Livres', CAST(N'2019-12-10T00:00:00.000' AS DateTime), CAST(N'2019-12-31T00:00:00.000' AS DateTime), N'c:\\Images\even2.jpg', CAST(5.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[EVENEMENT] OFF
SET IDENTITY_INSERT [dbo].[FRACTIONNER] ON 

INSERT [dbo].[FRACTIONNER] ([FRACTCODE], [THEMECODE], [SSTHEMECODE]) VALUES (1, 1, 1)
INSERT [dbo].[FRACTIONNER] ([FRACTCODE], [THEMECODE], [SSTHEMECODE]) VALUES (2, 1, 2)
INSERT [dbo].[FRACTIONNER] ([FRACTCODE], [THEMECODE], [SSTHEMECODE]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[FRACTIONNER] OFF
SET IDENTITY_INSERT [dbo].[LIER] ON 

INSERT [dbo].[LIER] ([LIERCODE], [LIVREISBN], [SSTHEMECODE]) VALUES (1, N'2010009274', 2)
INSERT [dbo].[LIER] ([LIERCODE], [LIVREISBN], [SSTHEMECODE]) VALUES (2, N'2070584623', 8)
SET IDENTITY_INSERT [dbo].[LIER] OFF
SET IDENTITY_INSERT [dbo].[LIGNE_COMMANDE] ON 

INSERT [dbo].[LIGNE_COMMANDE] ([LIGNECOMMNUM], [LIVREISBN], [COMMNUM], [LIGNECOMMPHT], [LIGNECOMMQTE]) VALUES (1, N'2010009274', 1, CAST(5.50 AS Decimal(7, 2)), 2)
INSERT [dbo].[LIGNE_COMMANDE] ([LIGNECOMMNUM], [LIVREISBN], [COMMNUM], [LIGNECOMMPHT], [LIGNECOMMQTE]) VALUES (2, N'2290070459', 1, CAST(5.26 AS Decimal(7, 2)), 2)
INSERT [dbo].[LIGNE_COMMANDE] ([LIGNECOMMNUM], [LIVREISBN], [COMMNUM], [LIGNECOMMPHT], [LIGNECOMMQTE]) VALUES (3, N'2070584623', 1, CAST(5.26 AS Decimal(7, 2)), 4)
SET IDENTITY_INSERT [dbo].[LIGNE_COMMANDE] OFF
SET IDENTITY_INSERT [dbo].[MOT_CLE] ON 

INSERT [dbo].[MOT_CLE] ([MOTCLEID], [MOTCLEDESIGN]) VALUES (1, N'humour')
INSERT [dbo].[MOT_CLE] ([MOTCLEID], [MOTCLEDESIGN]) VALUES (2, N'gaulois')
INSERT [dbo].[MOT_CLE] ([MOTCLEID], [MOTCLEDESIGN]) VALUES (3, N'bande dessinée')
SET IDENTITY_INSERT [dbo].[MOT_CLE] OFF
SET IDENTITY_INSERT [dbo].[PRESTA_DEDIE] ON 

INSERT [dbo].[PRESTA_DEDIE] ([PRESTAID], [PRESTADESIGN], [PAIEVERIF], [CONFIRMDATE]) VALUES (1, N'Merc@net', 1, CAST(N'2019-05-14T00:00:00.000' AS DateTime))
INSERT [dbo].[PRESTA_DEDIE] ([PRESTAID], [PRESTADESIGN], [PAIEVERIF], [CONFIRMDATE]) VALUES (2, N'E-transactions', 1, CAST(N'2019-09-13T00:00:00.000' AS DateTime))
INSERT [dbo].[PRESTA_DEDIE] ([PRESTAID], [PRESTADESIGN], [PAIEVERIF], [CONFIRMDATE]) VALUES (3, N'ElysNet', 0, CAST(N'2019-11-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PRESTA_DEDIE] OFF
SET IDENTITY_INSERT [dbo].[ROLE] ON 

INSERT [dbo].[ROLE] ([ROLEID], [ROLENOM]) VALUES (1, N'Administrateur')
INSERT [dbo].[ROLE] ([ROLEID], [ROLENOM]) VALUES (2, N'Modérateur')
INSERT [dbo].[ROLE] ([ROLEID], [ROLENOM]) VALUES (3, N'Directeur')
SET IDENTITY_INSERT [dbo].[ROLE] OFF
SET IDENTITY_INSERT [dbo].[SOUS_THEME] ON 

INSERT [dbo].[SOUS_THEME] ([SSTHEMECODE], [SSTHEMELIBELLE]) VALUES (1, N'Roman noir')
INSERT [dbo].[SOUS_THEME] ([SSTHEMECODE], [SSTHEMELIBELLE]) VALUES (2, N'Roman policier')
INSERT [dbo].[SOUS_THEME] ([SSTHEMECODE], [SSTHEMELIBELLE]) VALUES (3, N'Roman d''espionnage')
SET IDENTITY_INSERT [dbo].[SOUS_THEME] OFF
SET IDENTITY_INSERT [dbo].[SUBDIVISER] ON 

INSERT [dbo].[SUBDIVISER] ([CODESUBDIV], [LIVREISBN], [THEMECODE]) VALUES (1, N'2010009274', 1)
INSERT [dbo].[SUBDIVISER] ([CODESUBDIV], [LIVREISBN], [THEMECODE]) VALUES (2, N'2070584623', 3)
INSERT [dbo].[SUBDIVISER] ([CODESUBDIV], [LIVREISBN], [THEMECODE]) VALUES (3, N'2226446400', 3)
SET IDENTITY_INSERT [dbo].[SUBDIVISER] OFF
SET IDENTITY_INSERT [dbo].[THEME] ON 

INSERT [dbo].[THEME] ([THEMECODE], [THEMELIBELLE]) VALUES (1, N'Aventure')
INSERT [dbo].[THEME] ([THEMECODE], [THEMELIBELLE]) VALUES (2, N'Science-fiction')
INSERT [dbo].[THEME] ([THEMECODE], [THEMELIBELLE]) VALUES (3, N'Fantasy')
SET IDENTITY_INSERT [dbo].[THEME] OFF
SET IDENTITY_INSERT [dbo].[TRANSPORTEUR] ON 

INSERT [dbo].[TRANSPORTEUR] ([TRANSPID], [TRANSPNOM]) VALUES (1, N'DHL')
INSERT [dbo].[TRANSPORTEUR] ([TRANSPID], [TRANSPNOM]) VALUES (2, N'UPS')
INSERT [dbo].[TRANSPORTEUR] ([TRANSPID], [TRANSPNOM]) VALUES (3, N'FEDEX')
SET IDENTITY_INSERT [dbo].[TRANSPORTEUR] OFF
SET IDENTITY_INSERT [dbo].[TVA] ON 

INSERT [dbo].[TVA] ([TVACODE], [TVATAUX]) VALUES (1, CAST(5.50 AS Decimal(4, 2)))
INSERT [dbo].[TVA] ([TVACODE], [TVATAUX]) VALUES (2, CAST(10.00 AS Decimal(4, 2)))
SET IDENTITY_INSERT [dbo].[TVA] OFF
SET IDENTITY_INSERT [dbo].[TYPE_PAIEMENT] ON 

INSERT [dbo].[TYPE_PAIEMENT] ([TYPEPID], [TYPEPLIBELLE], [PRESTACODE]) VALUES (1, N'CB', 1)
INSERT [dbo].[TYPE_PAIEMENT] ([TYPEPID], [TYPEPLIBELLE], [PRESTACODE]) VALUES (2, N'CB', 2)
INSERT [dbo].[TYPE_PAIEMENT] ([TYPEPID], [TYPEPLIBELLE], [PRESTACODE]) VALUES (3, N'CB', 3)
SET IDENTITY_INSERT [dbo].[TYPE_PAIEMENT] OFF
INSERT [dbo].[VISER] ([LIGNECOMMNUM], [EVALLIGNEDATE]) VALUES (1, CAST(N'1900-01-04T00:00:00.000' AS DateTime))
INSERT [dbo].[VISER] ([LIGNECOMMNUM], [EVALLIGNEDATE]) VALUES (2, CAST(N'1900-01-03T00:00:00.000' AS DateTime))
INSERT [dbo].[VISER] ([LIGNECOMMNUM], [EVALLIGNEDATE]) VALUES (3, CAST(N'1900-01-05T00:00:00.000' AS DateTime))
/****** Object:  Index [ACT_LIV1_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [ACT_LIV1_FK] ON [dbo].[AFFECTER]
(
	[ACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ACT_LIV2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [ACT_LIV2_FK] ON [dbo].[AFFECTER]
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AFFECTER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [AFFECTER_FK] ON [dbo].[AFFECTER]
(
	[ACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CONFIRMER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [CONFIRMER_FK] ON [dbo].[BANQUE]
(
	[PRESTAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CARACTERISER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [CARACTERISER_FK] ON [dbo].[CARACTERISER]
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CARACTERISER2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [CARACTERISER2_FK] ON [dbo].[CARACTERISER]
(
	[MOTCLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DESIGNERFACTU_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [DESIGNERFACTU_FK] ON [dbo].[CLIENT]
(
	[ADRIDFACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [DESIGNERLIVRAISON_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [DESIGNERLIVRAISON_FK] ON [dbo].[CLIENT]
(
	[ADRIDLIVR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FACTURER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [FACTURER_FK] ON [dbo].[COMMANDE]
(
	[ADRIDFACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LIVRER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [LIVRER_FK] ON [dbo].[COMMANDE]
(
	[ADRIDLIVR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PASSER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [PASSER_FK] ON [dbo].[COMMANDE]
(
	[CLIENTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TRANSP_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [TRANSP_FK] ON [dbo].[COMMANDE]
(
	[TRANSPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TYPE_PAIEMENT_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [TYPE_PAIEMENT_FK] ON [dbo].[COMMANDE]
(
	[TYPPAIECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [ECRIRE_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [ECRIRE_FK] ON [dbo].[ECRIRE]
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ECRIRE2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [ECRIRE2_FK] ON [dbo].[ECRIRE]
(
	[AUTEURCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EXERCER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [EXERCER_FK] ON [dbo].[EMPLOYE]
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [CONCERNER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [CONCERNER_FK] ON [dbo].[EVALUATION]
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EFFECTUER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [EFFECTUER_FK] ON [dbo].[EVALUATION]
(
	[CLIENTCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MODERER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [MODERER_FK] ON [dbo].[EVALUATION]
(
	[EMPLOYEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FRACTIONNER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [FRACTIONNER_FK] ON [dbo].[FRACTIONNER]
(
	[THEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FRACTIONNER2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [FRACTIONNER2_FK] ON [dbo].[FRACTIONNER]
(
	[SSTHEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACT_EVAL1_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [ACT_EVAL1_FK] ON [dbo].[IMPACTER]
(
	[ACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ACT_EVAL2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [ACT_EVAL2_FK] ON [dbo].[IMPACTER]
(
	[EVALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IMPACTER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [IMPACTER_FK] ON [dbo].[IMPACTER]
(
	[ACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [LIER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [LIER_FK] ON [dbo].[LIER]
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [LIER2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [LIER2_FK] ON [dbo].[LIER]
(
	[SSTHEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [DESIGNER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [DESIGNER_FK] ON [dbo].[LIGNE_COMMANDE]
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [POSSEDER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [POSSEDER_FK] ON [dbo].[LIGNE_COMMANDE]
(
	[COMMNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [APPLIQUER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [APPLIQUER_FK] ON [dbo].[LIVRE]
(
	[EDITCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [CAT_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [CAT_FK] ON [dbo].[LIVRE]
(
	[CATCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [EDITER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [EDITER_FK] ON [dbo].[LIVRE]
(
	[EDITCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [REPERTORIER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [REPERTORIER_FK] ON [dbo].[LIVRE]
(
	[EMPLOYEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TAXER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [TAXER_FK] ON [dbo].[LIVRE]
(
	[TVACODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [SUBDIVISER_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [SUBDIVISER_FK] ON [dbo].[SUBDIVISER]
(
	[THEMECODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [SUBDIVISER2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [SUBDIVISER2_FK] ON [dbo].[SUBDIVISER]
(
	[LIVREISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [VISER2_FK]    Script Date: 10/02/2020 11:19:39 ******/
CREATE NONCLUSTERED INDEX [VISER2_FK] ON [dbo].[VISER]
(
	[LIGNECOMMNUM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AFFECTER]  WITH CHECK ADD  CONSTRAINT [FK_ACT_LIV1_AFFECTER] FOREIGN KEY([ACTIONID])
REFERENCES [dbo].[ACTION] ([ACTIONID])
GO
ALTER TABLE [dbo].[AFFECTER] CHECK CONSTRAINT [FK_ACT_LIV1_AFFECTER]
GO
ALTER TABLE [dbo].[AFFECTER]  WITH CHECK ADD  CONSTRAINT [FK_ACT_LIV2_AFFECTER] FOREIGN KEY([LIVREISBN])
REFERENCES [dbo].[LIVRE] ([LIVREISBN])
GO
ALTER TABLE [dbo].[AFFECTER] CHECK CONSTRAINT [FK_ACT_LIV2_AFFECTER]
GO
ALTER TABLE [dbo].[BANQUE]  WITH CHECK ADD  CONSTRAINT [FK_BANQUE_CONFIRMER_PRESTA_D] FOREIGN KEY([PRESTAID])
REFERENCES [dbo].[PRESTA_DEDIE] ([PRESTAID])
GO
ALTER TABLE [dbo].[BANQUE] CHECK CONSTRAINT [FK_BANQUE_CONFIRMER_PRESTA_D]
GO
ALTER TABLE [dbo].[CARACTERISER]  WITH CHECK ADD  CONSTRAINT [FK_CARACTER_CARACTERI_LIVRE] FOREIGN KEY([LIVREISBN])
REFERENCES [dbo].[LIVRE] ([LIVREISBN])
GO
ALTER TABLE [dbo].[CARACTERISER] CHECK CONSTRAINT [FK_CARACTER_CARACTERI_LIVRE]
GO
ALTER TABLE [dbo].[CARACTERISER]  WITH CHECK ADD  CONSTRAINT [FK_CARACTER_CARACTERI_MOT_CLE] FOREIGN KEY([MOTCLEID])
REFERENCES [dbo].[MOT_CLE] ([MOTCLEID])
GO
ALTER TABLE [dbo].[CARACTERISER] CHECK CONSTRAINT [FK_CARACTER_CARACTERI_MOT_CLE]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_DESIGNERF_ADRESSE] FOREIGN KEY([ADRIDFACT])
REFERENCES [dbo].[ADRESSE] ([ADRID])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_CLIENT_DESIGNERF_ADRESSE]
GO
ALTER TABLE [dbo].[CLIENT]  WITH CHECK ADD  CONSTRAINT [FK_CLIENT_DESIGNERL_ADRESSE] FOREIGN KEY([ADRIDLIVR])
REFERENCES [dbo].[ADRESSE] ([ADRID])
GO
ALTER TABLE [dbo].[CLIENT] CHECK CONSTRAINT [FK_CLIENT_DESIGNERL_ADRESSE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_FACTURER_ADRESSE] FOREIGN KEY([ADRIDFACT])
REFERENCES [dbo].[ADRESSE] ([ADRID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_FACTURER_ADRESSE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_LIVRER_ADRESSE] FOREIGN KEY([ADRIDLIVR])
REFERENCES [dbo].[ADRESSE] ([ADRID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_LIVRER_ADRESSE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_PASSER_CLIENT] FOREIGN KEY([CLIENTCODE])
REFERENCES [dbo].[CLIENT] ([CLIENTCODE])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_PASSER_CLIENT]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_COMMANDE_TYPE_PAIE] FOREIGN KEY([TYPPAIECODE])
REFERENCES [dbo].[TYPE_PAIEMENT] ([TYPEPID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_COMMANDE_TYPE_PAIE]
GO
ALTER TABLE [dbo].[COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_TRANSP_COMM] FOREIGN KEY([TRANSPID])
REFERENCES [dbo].[TRANSPORTEUR] ([TRANSPID])
GO
ALTER TABLE [dbo].[COMMANDE] CHECK CONSTRAINT [FK_TRANSP_COMM]
GO
ALTER TABLE [dbo].[ECRIRE]  WITH CHECK ADD  CONSTRAINT [FK_ECRIRE_ECRIRE_LIVRE] FOREIGN KEY([LIVREISBN])
REFERENCES [dbo].[LIVRE] ([LIVREISBN])
GO
ALTER TABLE [dbo].[ECRIRE] CHECK CONSTRAINT [FK_ECRIRE_ECRIRE_LIVRE]
GO
ALTER TABLE [dbo].[ECRIRE]  WITH CHECK ADD  CONSTRAINT [FK_ECRIRE_ECRIRE2_AUTEUR] FOREIGN KEY([AUTEURCODE])
REFERENCES [dbo].[AUTEUR] ([AUTEURCODE])
GO
ALTER TABLE [dbo].[ECRIRE] CHECK CONSTRAINT [FK_ECRIRE_ECRIRE2_AUTEUR]
GO
ALTER TABLE [dbo].[EMPLOYE]  WITH CHECK ADD  CONSTRAINT [FK_EMPLOYE_EXERCER_ROLE] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLE] ([ROLEID])
GO
ALTER TABLE [dbo].[EMPLOYE] CHECK CONSTRAINT [FK_EMPLOYE_EXERCER_ROLE]
GO
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [FK_EVALUATI_CONCERNER_LIVRE] FOREIGN KEY([LIVREISBN])
REFERENCES [dbo].[LIVRE] ([LIVREISBN])
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [FK_EVALUATI_CONCERNER_LIVRE]
GO
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [FK_EVALUATI_EFFECTUER_CLIENT] FOREIGN KEY([CLIENTCODE])
REFERENCES [dbo].[CLIENT] ([CLIENTCODE])
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [FK_EVALUATI_EFFECTUER_CLIENT]
GO
ALTER TABLE [dbo].[EVALUATION]  WITH CHECK ADD  CONSTRAINT [FK_EVALUATI_MODERER_EMPLOYE] FOREIGN KEY([EMPLOYEID])
REFERENCES [dbo].[EMPLOYE] ([EMPLOYEID])
GO
ALTER TABLE [dbo].[EVALUATION] CHECK CONSTRAINT [FK_EVALUATI_MODERER_EMPLOYE]
GO
ALTER TABLE [dbo].[FRACTIONNER]  WITH CHECK ADD  CONSTRAINT [FK_FRACTION_FRACTIONN_SS_THEM] FOREIGN KEY([SSTHEMECODE])
REFERENCES [dbo].[SOUS_THEME] ([SSTHEMECODE])
GO
ALTER TABLE [dbo].[FRACTIONNER] CHECK CONSTRAINT [FK_FRACTION_FRACTIONN_SS_THEM]
GO
ALTER TABLE [dbo].[FRACTIONNER]  WITH CHECK ADD  CONSTRAINT [FK_FRACTION_FRACTIONN_THEME] FOREIGN KEY([THEMECODE])
REFERENCES [dbo].[THEME] ([THEMECODE])
GO
ALTER TABLE [dbo].[FRACTIONNER] CHECK CONSTRAINT [FK_FRACTION_FRACTIONN_THEME]
GO
ALTER TABLE [dbo].[IMPACTER]  WITH CHECK ADD  CONSTRAINT [FK_ACT_EVAL1_EVALUER] FOREIGN KEY([ACTIONID])
REFERENCES [dbo].[ACTION] ([ACTIONID])
GO
ALTER TABLE [dbo].[IMPACTER] CHECK CONSTRAINT [FK_ACT_EVAL1_EVALUER]
GO
ALTER TABLE [dbo].[IMPACTER]  WITH CHECK ADD  CONSTRAINT [FK_ACT_EVAL2_EVALUER] FOREIGN KEY([EVALID])
REFERENCES [dbo].[EVALUATION] ([EVALID])
GO
ALTER TABLE [dbo].[IMPACTER] CHECK CONSTRAINT [FK_ACT_EVAL2_EVALUER]
GO
ALTER TABLE [dbo].[LIER]  WITH CHECK ADD  CONSTRAINT [FK_LIV_SSTH_LIER] FOREIGN KEY([LIVREISBN])
REFERENCES [dbo].[LIVRE] ([LIVREISBN])
GO
ALTER TABLE [dbo].[LIER] CHECK CONSTRAINT [FK_LIV_SSTH_LIER]
GO
ALTER TABLE [dbo].[LIER]  WITH CHECK ADD  CONSTRAINT [FK_LIV_SSTH2_LIER] FOREIGN KEY([SSTHEMECODE])
REFERENCES [dbo].[SOUS_THEME] ([SSTHEMECODE])
GO
ALTER TABLE [dbo].[LIER] CHECK CONSTRAINT [FK_LIV_SSTH2_LIER]
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_LIGNE_CO_DESIGNER_LIVRE] FOREIGN KEY([LIVREISBN])
REFERENCES [dbo].[LIVRE] ([LIVREISBN])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE] CHECK CONSTRAINT [FK_LIGNE_CO_DESIGNER_LIVRE]
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE]  WITH CHECK ADD  CONSTRAINT [FK_LIGNE_CO_POSSEDER_COMMANDE] FOREIGN KEY([COMMNUM])
REFERENCES [dbo].[COMMANDE] ([COMMNUM])
GO
ALTER TABLE [dbo].[LIGNE_COMMANDE] CHECK CONSTRAINT [FK_LIGNE_CO_POSSEDER_COMMANDE]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_APPLIQUER_EVENEMEN] FOREIGN KEY([EVENCODE])
REFERENCES [dbo].[EVENEMENT] ([EVENCODE])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_APPLIQUER_EVENEMEN]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_CATEGORIE_LIVRE] FOREIGN KEY([CATCODE])
REFERENCES [dbo].[CATEGORIE] ([CATCODE])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_CATEGORIE_LIVRE]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_EDIT_LIVRE] FOREIGN KEY([EDITCODE])
REFERENCES [dbo].[EDITEUR] ([EDITEURCODE])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_EDIT_LIVRE]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_REPERTORI_EMPLOYE] FOREIGN KEY([EMPLOYEID])
REFERENCES [dbo].[EMPLOYE] ([EMPLOYEID])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_REPERTORI_EMPLOYE]
GO
ALTER TABLE [dbo].[LIVRE]  WITH CHECK ADD  CONSTRAINT [FK_LIVRE_TAXER_TVA] FOREIGN KEY([TVACODE])
REFERENCES [dbo].[TVA] ([TVACODE])
GO
ALTER TABLE [dbo].[LIVRE] CHECK CONSTRAINT [FK_LIVRE_TAXER_TVA]
GO
ALTER TABLE [dbo].[SUBDIVISER]  WITH CHECK ADD  CONSTRAINT [FK_SUBDIVIS_SUBDIVISE_LIVRE] FOREIGN KEY([LIVREISBN])
REFERENCES [dbo].[LIVRE] ([LIVREISBN])
GO
ALTER TABLE [dbo].[SUBDIVISER] CHECK CONSTRAINT [FK_SUBDIVIS_SUBDIVISE_LIVRE]
GO
ALTER TABLE [dbo].[SUBDIVISER]  WITH CHECK ADD  CONSTRAINT [FK_SUBDIVIS_SUBDIVISE_THEME] FOREIGN KEY([THEMECODE])
REFERENCES [dbo].[THEME] ([THEMECODE])
GO
ALTER TABLE [dbo].[SUBDIVISER] CHECK CONSTRAINT [FK_SUBDIVIS_SUBDIVISE_THEME]
GO
ALTER TABLE [dbo].[TYPE_PAIEMENT]  WITH CHECK ADD  CONSTRAINT [FK_PRESTA_TYPEP_GERER] FOREIGN KEY([PRESTACODE])
REFERENCES [dbo].[PRESTA_DEDIE] ([PRESTAID])
GO
ALTER TABLE [dbo].[TYPE_PAIEMENT] CHECK CONSTRAINT [FK_PRESTA_TYPEP_GERER]
GO
ALTER TABLE [dbo].[VISER]  WITH CHECK ADD  CONSTRAINT [FK_VISER_VISER2_LIGNE_CO] FOREIGN KEY([LIGNECOMMNUM])
REFERENCES [dbo].[LIGNE_COMMANDE] ([LIGNECOMMNUM])
GO
ALTER TABLE [dbo].[VISER] CHECK CONSTRAINT [FK_VISER_VISER2_LIGNE_CO]
GO
USE [master]
GO
